<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name="me.unknkriod.licensechecker.MainActivity"
            android:exported="false"
            android:theme="@style/AppThemeDayNight.NoActionBar"
            tools:replace="android:exported,android:theme" />

        <activity android:name="me.unknkriod.ang.ui.MainActivity">
            <intent-filter>
                <action android:name="me.unknkriod.licensechecker.ACTION_LICENSE_CHECK_PASSED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
